@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-It.otf') format('opentype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-BoldIt.otf') format('opentype');
  font-style: italic;
  font-weight: bold;
}

body {
  text-align: center;
}

.container {
  background-image: url('../img/image02.png');
  border: 1px solid;
  height: 1024px;
  margin: 0 auto;
  padding: 0 210px;
  width: 604px;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

h1 {
  color: #010101;
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding: 50px 0 25px;
}

.photo {
  border: 1px solid;
  width: 200px;
}

.job {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  padding: 25px 0;
  text-align: left;
}

h2 {
  font-family: MyriadPro, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 0;
  text-align: left;
}

ul {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: MyriadPro, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  list-style: disc;
  padding: 0 40px 25px;
  text-align: left;
}

.regular--text {
  font-family: MyriadPro, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  padding: 0 25px;
  text-align: left;
}

.social--media {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: MyriadPro, Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  line-height: 18px;
  list-style: none;
  padding: 0 25px 25px;
  text-align: left;
}
